body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search-column {
    background-color: darkgray;
}

.list-group-item {
    line-height: 0.5;
    border: none; 
    text-align: left;
    margin-left: 0;
}

.card-body {
    flex: auto;
}